<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOG_ROOT_FOLDER" value="./logs/site/"/>
    <property name="ELASTIC_UPLOADER_FOLDER" value="./logs/elastic-integration/"/>

    <appender name="elastic-integration" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d %p --- [%t] %c{5}   : %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${ELASTIC_UPLOADER_FOLDER}log-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="main" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_ROOT_FOLDER}site.log</file>
        <encoder>
            <pattern>%d %p --- [%t] %c{5}   : %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${LOG_ROOT_FOLDER}site-%i.log</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>100</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>50MB</maxFileSize>
        </triggeringPolicy>
    </appender>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %p --- [%t] %c{5}   : %m%n</pattern>
        </encoder>
    </appender>

    <appender name="async-elastic-integration" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="elastic-integration"/>
    </appender>

    <appender name="async-main" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="main"/>
    </appender>

    <appender name="async-console" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="console"/>
    </appender>

    <logger name="com.datapath.elasticsearchintegration.services.TenderObjectsProvider" level="info">
        <appender-ref ref="async-elastic-integration"/>
    </logger>

    <root level="info">
        <appender-ref ref="async-main"/>
        <appender-ref ref="async-console"/>
    </root>

</configuration>