@import "../../globalStyles.scss";

.to-right {
  justify-content: flex-end !important;
}

.monitoring-types-regions {
  height: 130px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #f5f5f5;
  border-top: 1px solid rgba(0, 0, 0, .05);
  border-bottom: 1px solid rgba(0, 0, 0, .05);
  padding: 0 80px;

  @media only screen and (max-width: 1440px) {
    padding: 0 80px;
  }

  @media only screen and (max-width: 768px) {
    padding: 0 20px;
  }

  @media only screen and (max-width: 576px) {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }

  .monitoring-types-switcher {
    display: flex;
    align-items: center;

    .switcher__sum {
      display: block;
      margin-right: 20px;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      color: rgba(0, 0, 0, 0.5);
    }

    .switcher__count {
      display: block;
      margin-left: 20px;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      color: rgba(0, 0, 0, 0.5);
    }

    .checked {
      color: #000000 !important;
    }

    .ant-switch {
      min-width: 48px;
      height: 24px;
      background: $primary-yellow;

      &:focus {
        box-shadow: none;
      }
    }

    .ant-switch-checked {
      min-width: 48px;
      height: 24px;
      background: $primary-yellow;

      &:focus {
        box-shadow: none;
      }
    }

    .ant-switch-handle {
      width: 24px;
      height: 24px;
      top: 0px;

      &:before {
        left: -2px;
        border-radius: 50%;
        background: linear-gradient(
                        282.38deg,
                        #ffffff 0.64%,
                        #fcf8f8 75.95%
        );
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.191761),
        -16px -7px 24px rgba(255, 255, 255, 0.595908),
        1px 4px 13px rgba(126, 126, 126, 0.124208);
      }
    }
  }

  .monitoring-types-regions-select {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    //margin-right: 224px;

    .region-selector-wrapper {
      min-width: 300px;

      @media only screen and (max-width: 576px) {
        min-width: 265px;
      }

      //@media only screen and (min-width: 768px) {
      //  width: 365px !important;
      //}
      //
    }

    .select-label {
      display: flex;
      margin-right: 20px;
      font-size: 14px;
      line-height: 150%;
    }
  }
}