.ResetPasswordPage {
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    top: 0;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.ResetPasswordPage form {
    width: 650px;
    margin: 0 auto;
    padding: 15px;
    border: 1px solid #8080802e;
    border-radius: 10px;
    background-color: #d9d9d924;
}

.ResetPasswordPage .go-home-link {
    text-align: center;
    margin-top: 20px;
}