@import "../../globalStyles.scss";

.market-monitoring-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .section-item {
    &__title {
      font-size: 16px;
      font-weight: 600;
    }
  }

  .flippy-container {
    width: 100%;

    .flippy-cardContainer {
      &.isActive {
        height: 1400px;
        .market-monitoring-chart-wrapper {
          display: none;
        }
      }
    }
  }

  .flippy-front,
  .flippy-back {
    box-shadow: none;
    padding: 0;
  }

  .flippy-back {
    //padding: 0 80px;

    .instruction-button {
      width: 142px;
      height: 50px;
      background: #FFFFFF;
      border: none;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.191761), 1px 4px 13px rgba(126, 126, 126, 0.124208);
      border-radius: 10px;
      font-weight: 500;
      font-size: 14px;
      line-height: 150%;
      color: $primary-dark-azure;
      margin-bottom: 40px;

      &:active {
        background: rgba(30, 101, 146, 0.05);
      }

      svg {
        margin-right: 6px;
      }
    }

    .instruction {
      display: flex;
      flex-direction: column;
      padding: 72px 0;
      border-top: 1px solid rgba(0, 0, 0, 0.15);
      border-bottom: 1px solid rgba(0, 0, 0, 0.15);

      .instruction-title {
        font-weight: bold;
        font-size: 42px;
        line-height: 130%;
        text-transform: uppercase;
        color: #000000;
        margin-bottom: 30px;
      }

      .instruction-sections {
        font-size: 16px;
        line-height: 150%;
        color: #000000;

        .highlight-word {
          font-weight: 700;
          margin-right: 4px;
        }

        &:nth-child(3) {
          margin: 20px 0;
        }
      }
    }
  }

  .market-monitoring-row {
    max-width: 1920px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

    .market-monitoring-column {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      // padding: 0 80px;
      background: #ffffff;
      border-radius: 10px;

      @media only screen and (max-width: 576px) {
        background: none;
        padding: 0;
      }
    }

    .market-monitoring-navigation {
      position: relative;
      width: 100%;
      display: flex;
      //margin-top: 80px;
      padding: 0 80px;
      //padding-bottom: 40px;

      @media only screen and (max-width: 768px) {
        padding: 0 20px;
        //margin-top: 45px;
      }

      //&:before {
      //  content: "";
      //  position: absolute;
      //  width: calc(100% - 160px);
      //  height: 1px;
      //  background: rgba(0, 0, 0, 0.15);
      //  left: 50%;
      //  transform: translateX(-50%);
      //  bottom: 0;
      //
      //  @media only screen and (max-width: 768px) {
      //    width: 95%;
      //  }
      //}

      .buttons-group {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .ant-radio-group {
          display: flex;
        }

        .download-buttons {
          display: flex;
        }

        .instruction-button {
          width: 170px;

          svg {
            margin-right: 6px;
          }
        }

        .xls-button {
          width: 173px;
          margin-right: 10px;

          svg {
            margin-right: 10px;
          }
        }

        .share-button {
          width: 50px;
        }

        .group-button {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 50px;
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.191761),
            1px 4px 13px rgba(126, 126, 126, 0.124208);
          border-radius: 10px;
          border: none;
          font-weight: 500;
          font-size: 14px;
          line-height: 150%;
          color: $primary-dark-azure;
          margin-right: 10px;

          &:last-child {
            margin-right: 0;
          }

          &:before {
            display: none;
          }
        }

        .left-button,
        .middle-button {
          width: 92px;
        }

        .middle-button {
          margin: 0 10px;

          &:before {
            display: none;
          }
        }

        .right-button {
          width: 236px;

          &:before {
            display: none;
          }

          &.ant-radio-button-wrapper-checked {
            width: 260px;
          }
        }

        .ant-radio-button-wrapper {
          background: #f4f7fa;
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.191761),
            1px 4px 13px rgba(126, 126, 126, 0.124208);
          font-size: 14px;
          line-height: 17px;
          color: rgba(0, 0, 0, 0.75);
          font-weight: 500;
        }

        .ant-radio-button-wrapper-checked {
          background: linear-gradient(70.24deg, #1e6592 0%, #48a4b1 100%);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.191761),
            1px 4px 13px rgba(126, 126, 126, 0.124208);
          font-weight: 600;
          font-size: 14px;
          line-height: 17px;
          color: #ffffff;
        }

        .period-buttons {
          .group-button {
            margin-right: 0;
            border-radius: 0px;

            &:first-child {
              border-bottom-left-radius: 10px;
              border-top-left-radius: 10px;
            }

            &:last-child {
              border-bottom-right-radius: 10px;
              border-top-right-radius: 10px;
            }
          }
        }
      }
    }

    .ant-select-selector {
      display: flex;
      align-items: center;
      background: #fcfcfc;
      height: 40px;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.191761),
        1px 4px 13px rgba(126, 126, 126, 0.124208);
      border-radius: 10px;
      border-color: #d9d9d9 !important;
    }
    
    .ant-select-open .ant-select-selector {
      box-shadow: none !important;
      border-bottom-left-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
    }

    .ant-select-focused .ant-select-selector {
      box-shadow: none !important;
    }

    .market-monitoring-info {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      margin-top: 72px;
      margin-bottom: 64px;
      padding: 0 80px;

      @media only screen and (max-width: 768px) {
        flex-direction: column;
        margin-top: 30px;
        padding: 0 20px;
        margin-bottom: 0;
      }

      @media only screen and (max-width: 576px) {
        flex-direction: column;
        margin-top: 30px;
        padding: 0 20px;
      }

      .market-monitoring-info__left-side {
        display: flex;
        flex-direction: column;

        .title {
          display: flex;
          max-width: 720px;
          font-weight: 700;
          font-size: 42px;
          line-height: 130%;
          text-transform: uppercase;
          color: #000000;
          margin-bottom: 20px;

          @media only screen and (max-width: 576px) {
            font-size: 24px;
          }
        }

        .description {
          font-size: 14px;
          line-height: 150%;
          color: #000000;

          @media only screen and (max-width: 576px) {
            font-size: 13px;
            margin-bottom: 40px;
          }
        }
      }

      .market-monitoring-info__right-side {
        display: flex;
        flex-direction: column;

        .auditors {
          font-weight: 700;
          font-size: 18px;
          line-height: 150%;
          color: #000000;

          @media only screen and (max-width: 576px) {
            font-size: 13px;
            font-weight: 500;
          }
        }

        .auditors-count {
          font-weight: bold;
          font-size: 110px;
          line-height: 120%;
          color: #000000;
          margin: 0;

          @media only screen and (max-width: 576px) {
            font-size: 60px;
            margin-bottom: 34px;
          }
        }
      }
    }

    .market-monitoring-regions {
      height: 130px;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      background: #f5f5f5;
      border-top: 1px solid rgba(0, 0, 0, 0.05);
      border-bottom: 1px solid rgba(0, 0, 0, 0.05);
      padding-left: 80px;

      @media only screen and (max-width: 768px) {
        padding: 0 20px;
      }

      @media only screen and (max-width: 576px) {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
      }

      .market-monitoring-switcher {
        display: flex;
        align-items: center;

        .switcher__sum {
          display: block;
          margin-right: 20px;
          font-weight: 500;
          font-size: 16px;
          line-height: 150%;
          color: rgba(0, 0, 0, 0.5);
        }

        .switcher__count {
          display: block;
          margin-left: 20px;
          font-weight: 500;
          font-size: 16px;
          line-height: 150%;
          color: #000000;
        }

        .ant-switch {
          min-width: 48px;
          height: 24px;
          background: $primary-yellow;

          &:focus {
            box-shadow: none;
          }
        }

        .ant-switch-checked {
          min-width: 48px;
          height: 24px;
          background: $primary-yellow;

          &:focus {
            box-shadow: none;
          }
        }

        .ant-switch-handle {
          width: 24px;
          height: 24px;
          top: 0px;

          &:before {
            left: -2px;
            border-radius: 50%;
            background: linear-gradient(
              282.38deg,
              #ffffff 0.64%,
              #fcf8f8 75.95%
            );
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.191761),
              -16px -7px 24px rgba(255, 255, 255, 0.595908),
              1px 4px 13px rgba(126, 126, 126, 0.124208);
          }
        }
      }

      .market-monitoring-regions-select {
        display: flex;
        align-items: center;
        margin-right: 224px;

        .select-label {
          display: flex;
          margin-right: 20px;
          font-size: 14px;
          line-height: 150%;
        }
      }
    }
  }

  .market-monitoring-chart-wrapper {
    position: relative;
    display: flex;

    .force-directed-tree-legend {
      width: 80%;
      display: flex;
      justify-content: center;
      border-bottom: 1px solid rgba(0, 0, 0, 0.15);
      margin: 0 auto;
      padding: 30px 80px;

      .goods,
      .services,
      .works {
        display: flex;
        align-items: center;
      }

      .services {
        margin: 0 70px;
      }

      .indicator {
        position: relative;
        display: flex;
        width: 10px;
        height: 10px;
        border-radius: 50px;
        margin-right: 4px;
        
        &:before {
          position: absolute;
          content: "";
          top: -3px;
          left: -3px;
          width: 16px;
          height: 16px;
          border-radius: 50px;
          margin-right: 4px;
        }
      }

      .goods .indicator {
        background: #3DCAD4;

        &:before {
          border: 1px solid #3DCAD4;
        }
      }

      .services .indicator {
        background: $primary-yellow;

        &:before {
          border: 1px solid $primary-yellow;
        }
      }

      .works .indicator {
        background: $primary-dark-azure;

        &:before {
          border: 1px solid $primary-dark-azure;
        }
      }
      
    }

    .chart-left-section {
      background: #FAFAFA;
      width: 40%;
      padding: 70px 40px;
      height: 800px;
      overflow-y: scroll;
      z-index: 0;
    }

    .section-list {
      display: flex;
      flex-direction: column;
      padding-left: 25px;

      .section-item {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        cursor: pointer;

        &:last-child {
          border-bottom: none;
        }

        &.active {
          position: relative;
          height: 216px;
          z-index: 0;
          margin-top: 20px;

          &:before {
            content: '';
            position: absolute;
            left: -40px;
            top: -20px;
            width: 114%;
            height: 100%;
            background: rgba(255, 255, 255, 0.95);
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.191761), 1px 4px 13px rgba(126, 126, 126, 0.124208);
            border-radius: 10px;

            // @media only screen and (min-width: 1920px) {
            //   width: 520px;
            // }
          }
        }
      }

      .item__top {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 5px;
        z-index: 10;
      }

      #market-line-chart {
        z-index: 10;
      }

      .left-side {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: flex-end;

        &:before {
          content: "";
          position: absolute;
          left: -25px;
          top: 50%;
          transform: translateY(-50%);
          width: 10px;
          height: 10px;
          border-radius: 50%;
        }

        &.goods:before {
          background: #3DCAD4;
        }

        &.services:before {
          background: $primary-yellow;
        }

        &.work:before {
          background: $primary-dark-azure;
        }

        &.goods-services-work:before {
          background: conic-gradient(#3DCAD4 40%, $primary-yellow 0 70%, $primary-dark-azure 0);
        }

        &.goods-work:before {
          background: conic-gradient(#3DCAD4 50%, $primary-dark-azure 50%);
        }

        &.goods-services:before {
          background: conic-gradient(#3DCAD4 50%, $primary-yellow 50%);
        }

        &.services-work:before {
          background: conic-gradient($primary-yellow 50%, $primary-dark-azure 50%);
        }

        .counter {
          font-weight: 600;
          font-size: 14px;
          line-height: 150%;
          color: #000000;
          margin-right: 10px;
        }

        .title {
          display: flex;
          margin-bottom: 5px;
          font-size: 12px;
          font-weight: 500;
          color: rgba(0, 0, 0, 0.5);
          margin-right: 8px;
        }
      }

      .right-side {
        display: flex;
        flex-direction: row;

        .code {
          display: flex;
          margin-right: 8px;
          font-size: 12px;
          line-height: 130%;
          color: rgba(0, 0, 0, 0.5);
        }

        .code-number {
          font-weight: 600;
          font-size: 14px;
          color: #000000;
        }
      }

      .item-description {
        font-size: 14px;
        line-height: 17px;
        color: rgba(0, 0, 0, 0.75);
        z-index: 10;
      }
    }

    &.mobile {
      position: relative;
      display: flex;
      flex-direction: column;
      padding: 20px;
    }

    .chart-group {
      position: relative;
      width: 100%;
      height: 40px;
      margin-bottom: 12px;

      &:nth-child(1) {
        margin-bottom: 18px;
      }

      &:nth-child(2) {
        margin-bottom: 17px;
      }

      .chart-title-wraper {
        width: 100%;
  
        .tenders-wrapper {
          position: relative;
          display: flex;
          justify-content: space-between;
          
          .number-for-tenders {
            font-weight: 500;
          }
        }
  
        .tenders-wrapper {
          padding-bottom: 30px;
  
          &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 20px;
            background: rgba(30, 101, 146, 0.15);
            left: 0;
            bottom: -3px;
            border-radius: 8px;
          }
        }

        .tender-name {
          font-weight: 600;
        }
      }
    }

    .mobile-dynamic-chart {
      position: absolute;
      top: 19px;
      left: 10px;
    }
  }
}
