.ant-select-dropdown-menu-item {
    white-space: normal !important;
}

.select_search_okgz_filter {
    width: 100%;
}

.select_search_okgz_filter input[type=number]::-webkit-inner-spin-button,
.select_search_okgz_filter input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    display: none;
}

.ant-input-number-handler-wrap {
    display: none;
}
